.converter-header {
    width: 100%;
    height: 100px;
    padding: 10px;

    .actual-currency-title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 20px;
    }

    .actual-currency {
        text-align: center;
    }
}