<div class="about-me">
    <p>
        I've created this tab just to show you that I know what routing is :)
        But since you are here, I will take this moment to tell you a few
        words about myself. So first of all, I'm just an ordinary guy who wants
        to become an extraordinary Angular developer. Yes, I know I don't have
        a lot of experience, or interesting completed projects, maybe my code
        is far from perfect, and there is a lot of work to do, but I'm interested in
        understanding it and learning new things, and I need help. I need people
        who will show me the right direction, point out mistakes, and just be
        an example for me. So I hope that your team will be the impetus for me
        to achieve my goal, and I promise that I won't let you down. Thank you
        for your attention.
    </p>
</div>